* {
    margin: 0;
    padding: 0;
}

.card-deck {
    width: 300px;
    height: 350px;
    margin-right: 50px;
    margin-left: 40px;
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px #cdcdcd;
    border-radius: 15px;
    float: center;
    background-color: white;
}

.card-deck>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-deck>.card-text {
    width: 100%;
    height: 20%;
    padding: 0px 20px;
    text-overflow: ellipsis;
}

.card-deck>button {
    margin: 0px 20px;
    margin-bottom: 40px;
    background-color: darkred;
    color: white;
    padding: 0px 40px;
    text-decoration: none;
    border-radius: 5px;
}

.card-deck:hover {
    box-shadow: 1px 1px 5px 0 red;
}

.card {
    background-color: darkred;
    color: white;
}

.harga {
    margin-right: 105px;
}

@font-face {
    src: url('FirecatMedium.ttf');
    font-family: "Firecat";
}

.Firecat {
    font-family: "Firecat";
}